body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(241, 211, 172);
}
h1 
{
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}
img
{
    display: flex;
    margin: 0 auto;
    height: 450px;
    width: 450px;
    margin-bottom: 20px;
}
h2
{
    text-align: center;
    background-color: antiquewhite;
    padding: 5px;
}
p
{
    font-size: 18px;
    margin-top: 10px;
    background-color: aliceblue;
}
h3
{
    text-align: center;
    background-color: antiquewhite;
    padding: 5px;

}
ul li
{
    text-align: center;
    padding: 5px;
    background-color: aliceblue;
}
ol li 
{
    text-align: center;
    padding: 5px;
    background-color: aliceblue;
}